/*========================*/
/* Fonts                  */
/*========================*/
@font-face {
  font-family: 'Big Shoulders Display';
  src: url('../fonts/big-shoulders.woff2') format('woff2');
}

@font-face {
  font-family: 'Lexend Deca';
  src: url('../fonts/lexend-deca.woff2') format('woff2');
}

/*========================*/
/* Custom Properties      */
/*========================*/
:root {
  --clr-neutral-1: hsla(0, 0%, 100%, 0.75);
  --clr-neutral-2: hsl(0, 0%, 95%);
  --clr-primary-1: hsl(31, 77%, 52%);
  --clr-primary-2: hsl(184, 100%, 22%);
  --clr-primary-3: hsl(179, 100%, 13%);
  --ff-body: 'Lexend Deca', sans-serif;
  --ff-display: 'Big Shoulders Display', cursive;
  --border-radius-sm: 0.5rem;
}

/*========================*/
/* CSS Reset              */
/*========================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol[role='list'],
ul[role='list'] {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*========================*/
/* Utility Classes        */
/*========================*/

/* General */
.container {
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  max-width: 1440px;
}

/*========================*/
/* General Styling        */
/*========================*/
body {
  background-color: var(--clr-neutral-2);
  display: grid;
  place-items: center;
  font-family: var(--ff-body);
  font-size: 0.9375rem;
}

/*========================*/
/* Components             */
/*========================*/

/* Card Styles */
.card-group {
  display: grid;
}

.card {
  background-color: var(--background-color);
  max-width: 307px;
  padding: 3rem;
}

.card:nth-child(1) {
  --background-color: var(--clr-primary-1);
  border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
}

.card:nth-child(2) {
  --background-color: var(--clr-primary-2);
}

.card:nth-child(3) {
  --background-color: var(--clr-primary-3);
  border-radius: 0 0 var(--border-radius-sm) var(--border-radius-sm);
}

.card__title {
  color: var(--clr-neutral-2);
  font-family: var(--ff-display);
  font-size: 2.5rem;
  line-height: 1.2;
  margin-block: 2.1875rem 1.5625rem;
  text-transform: uppercase;
}

.card__body {
  color: var(--clr-neutral-1);
  margin-block-end: 5.1875rem;
  line-height: 1.67;
}

@media (min-width: 48em) {
  .card-group {
    grid-template-columns: repeat(3, 1fr);
  }
  .card:nth-child(1) {
    border-radius: var(--border-radius-sm) 0 0 var(--border-radius-sm);
  }
  .card:nth-child(3) {
    border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0;
  }
}

/* Buttons */
.button {
  --height: 3rem;
  background-color: var(--clr-neutral-2);
  border: 2px solid var(--clr-neutral-2);
  border-radius: 100vmax;
  color: #000000;
  display: inline-block;
  mix-blend-mode: screen;
  font-family: inherit;
  height: var(--height);
  line-height: calc(var(--height) - 2px);
  padding-inline: 2rem;
  text-decoration: none;
  transition: background-color 0.15s linear, color 0.15s linear;
}

.button:focus,
.button:hover {
  background-color: transparent;
  color: var(--clr-neutral-2);
}
